<body>
    <nav>
        <div class="nav-left">
            <a href="#home"> home</a>
            <a href="#about">about</a>
            <a href="#contact">contact</a>
        </div>
        <div class="nav-right">
            <a [routerLink]="'profile'"><button>profile</button></a>
            <a [routerLink]="'login'"><button>login</button></a>
        </div>
    </nav>
    <div class="searchbar">

        <input type="text" placeholder="SEARCH THE  COURSE" [(ngModel)]="somevalue">
        <p>SUGGESTIONS:{{somevalue}}</p>

        <h1> Accelerate Your Career Growth & Upskill Yourself <br>
            World-Class Certification & Degree Program</h1>
    </div>
    <div class="container">
        <div *ngFor="let course of courseDetails">
            <div class="card" *ngIf="course.title.toLowerCase().includes(somevalue)">
                <div>
                    <img [src]="course.imagelocation" alt="">
                </div>
                <div>
                    <h2>{{course.title}}</h2>
                    <p>{{course.paragraph}}</p>
                    <a [routerLink]="'apply'"><button (click)="apply(course.title)">{{ course.button}}</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="card">
            <div>
                <img src={{card1.imagelocation}}>
            </div>
            <div>
                <h2>{{card1.title}}</h2>

                <p>{{card1.paragraph}}</p>
                <a [routerLink]="'apply'"><button (click)="apply(card1.title)">{{ card1.button}}</button></a>
            </div>
        </div>
        <div class="card">
            <div>
                <img src={{card2.imagelocation}}>
            </div>
            <div>
                <h2>{{card2.title}}</h2>
                <p>{{card2.paragraph}}</p>
                <a [routerLink]="'apply'"><button (click)="apply(card2.title)">{{card2.button}}</button></a>
            </div>
        </div>
        <div class="card">
            <div>
                <img src={{card3.imagelocation}}>

            </div>
            <div>


                <h2>{{card3.title}}</h2>
                <p>{{card3.paragraph}}</p>
                <a [routerLink]="'apply'"><button (click)="apply(card3.title)">{{card3.button}}</button></a>
            </div>


        </div>
        <div class="card">
            <div>
                <img src={{card4.imagelocation}}>
            </div>
            <div>
                <h2> {{card4.title}}</h2>
                <p>{{card4.paragraph}}</p>
                <a [routerLink]="'apply'"><button (click)="apply(card4.title)">{{card4.button}}</button></a>
            </div>
        </div>
    </div> -->

    <div class="footer">
        <footer>
            <h2>: //ourwebsite</h2>
        </footer>
    </div>

</body>