<div class="form"> 
        
    <h1> APPLICATION FORM</h1>
    <div>
    <p> 
        <label for="Fistname"> First Name</label>
        <input type="text" id="firstname"name="firstname">
    </p>
    <p>
        <label for="lastname"> Last name</label>
        <input type ="text" id ="lastname" name="lastname">
    </p>
    <p>
        <label for="email">Email</label>
        <input type="text" id ="email" name="email">
    </p>
    <p> 
        <label for="Student"> Student</label>
        <input type ="radio" value="Student" id="Student"name="Student">
    </p>
    <p><label for="Student"> Staff</label>
        <input type ="radio" value="Staff" id="Staff"name="Staff"> </p>
        <p>
            <button type="submit">Submit</button>
        </p>

    </div>
</div>
